
<%- include ('partials/header') %>
  <center>
   <h1 class="btn">MESSAGES</h1> <a href="/admin/dashboard" class="btn">DASHBOARD</a>
  </center>
   
    <% record.forEach(function(records){ %>

    <section class="home">

    

      <div class="content">
        <h3><%= records.mail %></h3>
        <p><%= records.message %></p>
        <small>Posted On: <%= records.date.toLocaleDateString() %></small>
      </div>

    </section>
    
    <% }) %>



<%- include ('partials/footer') %>

