<%- include ('partials/header') %>
<center>
    <h3><a href="/admin/latestnews %>" class="btn">ADD NEW ARTICLE</a></h3>
    <h5><a href="/" class="btn">SIGN OUT</a></h5>
</center>   
    <% record.forEach(function(records){ %>
<!--     <h5><a href="/admin/edit/<%= records._id %>" class="btn">EDIT</a></h5>
 -->    

    <section class="home">

    <div class="image">
        <img src="data:image/<%=records.upload.contentType%>;base64,<%=records.upload.data.toString('base64')%>" class="card-img-top" alt="...">
    </div>

    <div class="content">
        <h3><%= records.title %></h3>
        <span><%= records.subtitle %></span>
        <p><%= records.article.substring(0, 100) + "..." %></p>
        <a href="/admin/newDetails/<%= records.slug %>" class="btn"> Read More</i> </a>
        <a href="/admin/<%= records._id %>" class="btn">DELETE</a><br>
        <small>Posted On: <%= records.date.toLocaleDateString() %></small>
    </div>

</section>
    
    <% }) %>



<%- include ('partials/footer') %>

